body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    /* font-family: 'Raleway', sans-serif; */
    color: #64AA9D;
}


/* ---header--- */

.header-style {
    height: 100vh;
    width: 100vw;
    background-color: #141615;
    background-size: cover;
    background-image: url(../imgs/img-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.midia-social {
    margin-top: 1rem;
    display: flex;
}

.midia-social a {
    text-decoration: none;
    color: #64AA9D;
    padding: 1rem 4rem;
    border: 1px solid #C8AE60;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: #64AA9D;
    color: #141615;
}

.checkbox-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .traco {
    width: 50px;
    height: 6px;
    background-color: #000000;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .traco:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .traco:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .traco:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}


/*----MENU----*/

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #64AA9D;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: #141615;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}


/* ----MENU-TRAÇOS---- */

#toggle:checked+.checkbox .traco:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
    transition: 0.5s ease-in-out 0s;
}

#toggle:checked+.checkbox .traco:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
}

#toggle:checked+.checkbox .traco:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked+.checkbox {
    background-color: #64AA9D;
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 400vmax #64AA9D;
    z-index: 1;
}

#toggle:checked~.menu-itens {
    visibility: visible;
    opacity: 1;
}


/* ----------------ITENS-CARDS----------- */

.main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.item-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.item-img {
    width: 200px;
    height: 200px;
    margin: 3rem 5rem 10rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #141615;
    cursor: pointer;
    transition: 0.5 ease-in-out;
    border-color: 20px #141615 solid;
}

.imgs {
    border: #64AA9D;
    width: 562px;
    height: 340px;
    margin: 10px 0 0;
}

.item-texto {
    width: 40%;
    letter-spacing: 1px;
    color: #141615;
    margin-top: -7.5%;
}

.item-texto p {
    text-align: justify;
}

.item-texto span {
    text-decoration: underline;
    color: #C8AE60;
}

.item-img:hover {
    filter: unset;
}

.footer {
    width: 100vw;
    height: 100px;
    background-color: #C8AE60;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #141615;
    text-transform: uppercase;
    border-top: 1px #64AA9D solid;
}

.fundoPreto {
    background-color: #000000ab;
    padding: 10px 25px 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}